Flask
gunicorn
scikit-learn
pandas
nltk
textblob
spacy==3.6.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz
xgboost
numpy==1.26.4
thinc==8.1.10


